name: AWS OIDC Deploy

on:
  push:
    branches: [ "main" ]
    paths:
      - 'apps/core/**'     # core 폴더 변경 시에만 실행
      - 'apps/auth/**'          # 추가: auth 모듈 변경 시
      - 'apps/announcements/**' # 추가: announcements 모듈 변경 시
      - 'Dockerfile'       # 루트 도커파일 변경 시

permissions:
  id-token: write   
  contents: read    

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{secrets.AWS_OIDC_ROLE_ARN}}
          aws-region: ${{secrets.AWS_OIDC_REGION}}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: latest
        run: |
          docker build -t $ECR_REGISTRY/${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG .
          docker push $ECR_REGISTRY/${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG
          echo "Pushed: $ECR_REGISTRY/${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG"
      - name: Update ECS service 
        run: |
          aws ecs update-service --cluster ${{ secrets.ECS_CLUSTER_NAME }} \
                                 --service ${{ secrets.ECS_SERVICE_NAME }} \
                                 --force-new-deployment \
                                 --region ${{ secrets.AWS_OIDC_REGION }}

          
